<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto bg-light p-3 shadow-sm rounded-3">
      <div class="mb-3">
        <h6 class="my-2 text-center">NEW CUSTOMER</h6>
      </div>

      <%= render "form", customer: @customer %>

      <br>

      <div>
        <%= link_to "Back to customers", customers_path %>
      </div>
    </div>
  </div>
</div>
      


